.Book1 {
    border: 2px solid black;
    width: 150px;
    transform: translate(50%, 40%);
    box-shadow: 0px 0px 15px #858585;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
  }
  .Book2 {
    border: 2px solid black;
    width: 150px;
    transform: translate(200%, -60%);
    box-shadow: 0px 0px 15px #858585;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
  }
  .Book3 {
    border: 2px solid black;
    width: 150px;
    transform: translate(350%, -160%);
    box-shadow: 0px 0px 15px #858585;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
  }
  .Book4 {
    border: 2px solid black;
    width: 150px;
    transform: translate(500%, -260%);
    box-shadow: 0px 0px 15px #858585;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
  }
  .books{
    background-color: rgb(230,235,237);
  }